<h1>Editing Testing Page</h1>

<%= render 'form', testing_page: @testing_page %>

<%= link_to 'Show', @testing_page , class:"btn btn-xs btn-default" %> |
<%= link_to 'Back', testing_pages_path , class:"btn btn-xs btn-default"  %>
